**/.DS_Store
*.apk
**/unpackage
**/.hbuilderx
**/.idea
**/.vscode
**/node_modules
CHANGELOG.en-US.md
CHANGELOG.fr-FR.md
CHANGELOG.es.md
FAQ.md
Makefile
build
element_logo.svg
LICENSE
README.md
components.json
examples
node_modules
packages
test
yarn.lock

